@model SNotes.ViewModels.NoteGridViewModel


<li class="noteList-list-horizontal" style="float: left;">

    <div class="noteBox" id="noteBox">
        <div class="editableDivs" style="overflow: hidden;">
            @if (Model.Title != null)
            {
                <div class="noteTitle" id="noteTitle" contentEditable="true" placeholder="Title" style="font-weight: bold; font-size: 120%; padding: 5px 5px 0 5px; overflow:hidden;">
                   
                        @Html.DisplayFor(n => n.Title)
                   
                </div>
            }
            <div class="noteContent" id="noteContent" contentEditable="true">
                @*<textarea style="height: 100%; width: 100% !important; box-sizing: border-box; border:none; overflow: auto; resize: none; outline: none; text-align: left">*@
                @Html.DisplayFor(n => n.Content)


            </div>
        </div>
        <div class="noteLabel" id="noteLabel" style="position: absolute;">
            <ul style="padding: 0 5px 0 5px; direction: ltr;">

                @Html.DisplayFor(m => m.Labels)

            </ul>
        </div>


        <div class="noteFooter" id="noteFooter" style="min-width: 100%; background: #FF3D00; display: inline-block; position: absolute; bottom: 0;">

            @*<div class="listOfLabels" style="padding: 5px; display: none;">Labels</div>*@

            <div class="time" style="text-align: left; padding: 5px; text-align: right; display: none;">
                @if (Model.ModificationTime == Model.CreationTime || Model.ModificationTime < Model.CreationTime)
                {
                    <div style="display: none"></div>
                }
                else
                {
                    <text>Edited </text>
                    @Html.DisplayFor(n => n.ModificationTime)

                }
                <text style="padding: 5px;">Created </text> @Html.DisplayFor(n => n.CreationTime)
            </div>

            <div class="footerIcons" style="background: #FF3D00; margin-left: auto;  min-width: 100%; padding: 5px 5px 0 5px;">

                <div style="float: left; background: #FF3D00; color: #fdffff; width: 60%">
                    @Model.CreationTime.ToString("d MMM yyyy")
                </div>
                <div>

                    <div style="float: right; background: #FF3D00; color: #fdffff; width: 10%;">
                        <a href="@Url.Action("Edit", "Note", new {id = Model.Id}, null)">
                            <span class="glyphicon glyphicon-th-list btn btn-link" style="color: #fdffff; font-size: 12px; padding: 0 5px 0 5px; border-width: 0 1px 4px 1px;"></span>
                        </a>
                    </div>

                    <div style="float: right; background: #FF3D00; color: #fdffff; width: 10%; padding: 0 5px 0 5px;">
                        @using (Html.BeginForm("Delete", "Note"))
                        {
                            <input type="hidden" name="id" value="@Model.Id" id="id" style="display: none;" />

                            <button type="submit" class="btn btn-link" style="padding: 0; border-width: 0 1px 4px 1px;">
                                <span class="glyphicon glyphicon-trash" style="color: #fdffff; font-size: 12px;"></span>
                            </button>
                        }
                    </div>

                    <div style="float: right; background: #FF3D00; color: #fdffff; width: 10%; padding: 0 5px 0 5px;">
                        <a href="@Url.Action("Edit", "Note", new {id = Model.Id}, null)">
                            <span class="glyphicon glyphicon-pencil btn btn-link" style="color: #fdffff; font-size: 12px; padding: 0; border-width: 0 1px 4px 1px;"></span>
                        </a>
                    </div>

                    <div style="float: right; background: #FF3D00; color: #fdffff; width: 10%; padding: 0 5px 0 5px;">
                        <a href="@Url.Action("AddLabelToNote", "Note", new {id = Model.Id}, null)">
                            <span class="glyphicon glyphicon-tag btn btn-link" style="color: #fdffff; font-size: 12px; padding: 0; border-width: 0 1px 4px 1px;"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</li>